Ghoubali_Badis_2_dossier_code_082023/.ipynb_checkpoints/
Ghoubali_Badis_2_dossier_code_082023/df.csv
Ghoubali_Badis_2_dossier_code_082023/Execute_MLFlow-UI.ps1
Ghoubali_Badis_2_dossier_code_082023/Création_modèle_classification.ipynb
Ghoubali_Badis_2_dossier_code_082023/Scripts/.ipynb_checkpoints/
.ipynb_checkpoints/
373022 _Refusé
156925 _Accepté
Execute_main.cmd
Ghoubali_Badis_3_note_méthodologique_092023.ipynb
Implémentez_un_modèle_de_scoring_Ghoubali_Badis.zip
Tuto-git.txt
input/
Ghoubali_Badis_2_dossier_code_082023/Scripts/Refractor(lent)/
Ghoubali_Badis_2_dossier_code_082023/Tests-Unitaires/EXECUTE_TEST_api.cmd
Ghoubali_Badis_2_dossier_code_082023/Tests-Unitaires/EXECUTE_TEST_dashboard.cmd
Ghoubali_Badis_2_dossier_code_082023/Tests-Unitaires/__pycache__/test_api.cpython-310-pytest-7.2.1.pyc
Ghoubali_Badis_2_dossier_code_082023/Tests-Unitaires/__pycache__/test_dashboard.cpython-310-pytest-7.2.1.pyc